<!-- Top navigation -->
<app-primary-navigation>
  <main role="main">
    <div>
      <h1>User Profile</h1>
    </div>
    <!-- Show user data when logged in -->
    <div *ngIf="user$ | async as user">
      <div>
        <div>
          <img src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
          <div>
            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </div>

  </main>
</app-primary-navigation>
