.avatar-button {
  .avatar {
    margin-top: -6px;
    margin-left: -6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.profile-card {
  color: white;
  .profile {
    padding: 16px;
    text-align: center;
  }

  .big-avatar {
    border-radius: 50%;
  }
}
